body {
    margin: 0;
    background-color: black;
}

body header nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 0.5rem;
    font-size: 3em;
    font-family: "Spirax", sans-serif;

    display: flex;
    justify-content: center;
}

body header nav a {
    color: white;
    text-decoration: none;
    padding: 0 2rem;
}

body header nav a:hover {
    color: #700101;
}

body header nav a:visited {
    color: white;
}

section {
    width: 100%;
    height: 90%;
    /*TODO: Fungerar, bild under nav. Men varför? */
}

section .container {
    position: relative;
    text-align: center;
    color: white;
}

h1 {
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    color: #700101;
    font-size: 4rem;
    font-family: "Spirax", sans-serif;
}

section .container div {
    position: absolute;
    font-family: "Poiret One", sans-serif;
    color: white;
    background-color: #700101;
    padding: 0.5rem;
}

section div .text1 {
    top: 25%;
    left: 20%;
    right: 40%;
}

section div .text2 {
    /* Hide this element if screen is not wide enough (see @media below) */
    opacity: 1;
    
    top: 35%;
    left: 50%;
    right: 20%;
}

section div .info-price {
    top: 50%;
    bottom: 20%;
    left: 35%;
    right: 35%;
    background-color: black;
}

section div .info-price>p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

section .container div .text-left {
    clear: left;
    float: left;
}

section .container div .text-right {
    clear: right;
    float: right;
}


@media screen and (max-width: 400px) {

    /* Styles for screens with a maximum width of 400px */
    section div .text2 {
        opacity: 0;
    }
}